<table class="table table-bordered">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Access Granted</th>
      <th>Timestamp</th>
    </tr>
  </thead>
  <tbody>
  {{#each rows}}
    <tr>
      <td>{{this.userId}}</td>
      <td>{{this.accessGranted}}</td>
      <td>{{this.timestamp}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if prevPage}}
  <a class="btn btn-default pull-left" href="/web/logs/swipe/{{prevPage}}" role="button">Previous Page</a>
{{/if}}

{{#if nextPage}}
<a class="btn btn-default pull-right" href="/web/logs/swipe/{{nextPage}}" role="button">Next Page</a>
{{/if}}

